@using Resources
@{
    ViewBag.Title = Views.HomePageTitle;
    var date = DateTime.Now;
}

<div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col index-content">
    <div class="mdl-card__title">
        <h3>@Views.IndexHeader</h3>
    </div>
    <div class="mdl-color-text--grey-700 mdl-card__supporting-text text-content">
        @Html.Partial("Partials/_MainChart", new { ItemList = ViewBag.ItemList})
    </div>
</div>