@using Resources
@model Model.Item.ItemLink
@using Resources
@{
    ViewBag.Title = Model.Text;
    var date = new DateTime(2016, 01, 01);
}

<div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
    <div class="mdl-card__media mdl-color-text--grey-50">
        <h3>@Model.Text</h3>
    </div>
    <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
        @Model.Text
    </div>
    <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta-info">
        <div class="minilogo owner"></div>
        <div>
            <strong>@Views.SiteOwner</strong>
            <span>@date.ToShortDateString()</span>
        </div>
        <div class="section-spacer"></div>
    </div>
</div>