@using Resources
@{
    ViewBag.Title = Views.HomePageTitle;
}
@*
    <div class="row">

        @foreach (ItemListModel Item in ViewBag.NewestItems)
        {
            <div class="col-md-4">
                @Html.Partial("Partials/_ItemListItem", Item)
            </div>
        }
    </div>
*@