<nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="@Url.Action("Index", "Home", new { area = string.Empty })">Home</a>
    <a class="mdl-navigation__link" href="@Url.Action("About", "Home", new { area = string.Empty })">About</a>
    @* @Html.Partial("_LoginPartial") *@
</nav>